<h1 id="heading">B-Airways</h1>
<h2 ><%=docTitle%></h1>
<div class="navbar">
  <a href="/"><button class="nav-item">Home</button></a>
  <a href="/about"><button class="nav-item">About</button></a>
  <a href="/contact"><button class="nav-item">Contact</button></a>
  <a href="/login"><button class="nav-item">Login</button></a>
  <a href="/booking"><button class="nav-item">Booking</button></a>
  <a href="/report"><button class="nav-item">Report</button></a>
  <a href="/search"><button class="nav-item">Search</button></a>
  <a href="/logout"><button class="nav-item">Logout</button></a>
</div>
<br>


  
  
  