<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <h1>Managerial Reports</h1>
    <button><a href="/">Home</a></button>
    <button><a href="/report">Search</a></button>
    <button><a href="/report">Booking</a></button>
    <form action="/report" method="POST">
        <label for="name">Number of Passengers Travelling To(Destination Code)</label>
        <input type="text" name="destination" id="destination">
        <button type="submit">Submit</button>

    </form>
    <h2>Flight List</h2>
        <table>
            <tr>
                <th>Flight ID</th>
                <th>Origin</th>
            
            </tr>
            <% for (let i = 0; i < flights.length; i++) { %>
                <tr>
                    <td><%= flights[i].Flight_ID %></td>
                    
                    <td><%= flights[i].Origin %></td>
                </tr>
            <% } %>
        </table>

</body>
</html>
